@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  list-style-type: none;
  list-style: none;
  color: #000;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'PT Sans', serif;
  font-size: 18px;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #000;
  user-select: text;
  -webkit-user-select: text;
  -moz-select: text;
  -ms-select: text;
}

p {
    padding: 0;
    margin: 0;
}

.header {
  background-color: rgba(90, 112, 211, 0.5);
  margin-bottom: 20px;
  height: 90px;
}

.header a {
  font-size: 20px;
  font-weight: 700;
}

.footer {
  margin-top: auto;
  background-color: rgba(90, 112, 211, 0.5);
}

.footer p {
  text-align: center;
  padding-top: 20px;
}

.navigation__list {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  height: 90px;
}

.posts {
  padding: 30px;
}

.post {
  display: block;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: rgba(90, 112, 211, 0.1);
}

.posts select {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}

.post_content {
  display: block;
}

.post_text {
  font-size: 20px;
}

.post_text a {
  font-weight: 700;
  color: #5a70d3;
}

.post__interact {
  display: flex;
  align-items: center;
}

input, textarea {
  background-color: rgba(90, 112, 211, 0.2);
  border-radius: 10px;
  margin: 10px 5px;
  padding: 2px 15px;
}


.register form {
    display: flex;
    flex-direction: column;
}

.comment {
  background-color: rgba(164, 178, 236, 0.2);
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}
