* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  list-style-type: none;
  list-style: none;
  color: #000;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #000;
  user-select: text;
  -webkit-user-select: text;
  -moz-select: text;
  -ms-select: text;
}

.header {
  background-color: #affdbc;
  margin-bottom: 20px;
}

.footer {
  margin-top: auto;
}

.navigation__list {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
}

.posts {
  padding: 30px;
}

.post {
  display: block;
  padding: 30px;
  border-radius: 40px;
  margin-bottom: 30px;
  border: 1px solid rgb(139, 184, 116, 0.5);
}

.post_content {
  display: block;
}

.post_text {
  font-size: 18px;
}

.post_text a {
    font-weight: 700;
    color: #8bb874;
}
